
*{
  padding-left: 5px;
  padding-right: 5px;
}

h1{
  color: #3A4447;
}

h2,{
  color: #3E9FC6;
}

h3{
  color: #3E9FC6;
}

h4{
  color: #C7863E;
}

a {
  color: #0000EE
}

a:hover {
  color: #551A8B
}

.contact-info p {
  font-family: Cursive;
  font-size: 13px;
}

#title {
  font-family: Georgia;
  font-size: 25px
}

.message-form {
  font-family: Georgia;
}
